<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>

<h1>This is my header</h1>
<p>This is my paragraph</p>

<img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_900,c_fill,g_auto,h_506,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210916160005-10-worlds-safest-city-2021.jpg" alt="..." class="img-rounded">
<img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_900,c_fill,g_auto,h_506,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210916160005-10-worlds-safest-city-2021.jpg" alt="..." class="img-circle">
<img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_900,c_fill,g_auto,h_506,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210916160005-10-worlds-safest-city-2021.jpg" alt="image from cnn" class="img-thumbnail">

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<h1>Yay a Heading!!</h1>
<p>How much content do we really need to have in the paragraph German?</p>
